<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- allergyDTO객체의 mybatis 설정 문제 -->
<mapper namespace="com.allergy">

	<update id="update" parameterType="allergyDTO">
	</update>

	<insert id="insert" parameterType="MemDTO">

	</insert>

	<delete id="delete" parameterType="string">
	</delete>

	<select id="selectOne" parameterType="string" resultType="allergyDTO">
	</select>

	<select id="selectList" resultType="allergyDTO">
	</select>


</mapper>