<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Board의 mybatis 설정 문제 -->
<mapper namespace="com.board">
	
	<select id="searchByName" resultType="BoardDTO"
		parameterType="string">
		select * from board where user_name like CONCAT(#{keyword},'%')
	</select>

	<select id="searchByTitle" resultType="BoardDTO"
		parameterType="string">
		select * from board where btitle like CONCAT(#{keyword},'%')
	</select>
	
	<insert id="boardInsert" parameterType="BoardDTO">
		insert into board values(
		#{bid}, #{user_id}, #{btitle}, #{bcontent},#{bcount}, #{user_name}
		)
	</insert>
	<update id="boardUpdate" parameterType="BoardDTO">
		update board set
		user_id = #{user_id}, btitle=#{btitle}, bcontent=#{bcontent} where bid = #{bid}
	</update>

	<select id="boardInfo" parameterType="string" resultType="BoardDTO">
		select * from board where bid = #{bid }
	</select>

	<select id="boardList" resultType="BoardDTO">
		select * from board
	</select>

	<select id="boardFind" parameterType="BoardDTO" resultType="BoardDTO">
		select * from board where bid=#{bid }
	</select>

	<update id="boardIndexRefresh1" >
		ALTER TABLE board AUTO_INCREMENT=1;
	</update>
	<update id="boardIndexRefresh2" >
		SET @COUNT = 0;
	</update>
	<update id="boardIndexRefresh3" >
		UPDATE board SET bid = @COUNT:=@COUNT+1;
	</update>

	<delete id="boardDelete" parameterType="String">
		delete from board where bid = #{bid};
		
	</delete>
	
	<update id="countUp" parameterType="int">
		update board set bcount=bcount+1 where bid = #{bid}
	</update>	
	
	<select id="commentList" resultType="CommentDTO" parameterType = "int">
		select * from comment where bid = #{bid}
	</select>
	
	<insert id="commentInsert" parameterType="CommentDTO">
		insert into comment values(
		#{cnum}, #{bid}, #{ccontent}, #{user_id} , (select mname from user where id = #{user_id} )
		)
	</insert>
	
	<delete id="commentDelete" parameterType="int">
		delete from comment where cnum = #{cnum};
		
	</delete>
	
	<select id="chatList" resultType="ChatDTO">
		select * from chat order by cnum desc limit 10
	</select>
	
	<insert id="chatInsert" parameterType="ChatDTO">
		insert into chat values(
		#{cnum}, #{ccontent}, #{user_id} , (select mname from user where id = #{user_id} )
		)
	</insert>
	
	
	
	
</mapper>