<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Member객체의 mybatis 설정 문제 -->
<mapper namespace="com.member">

	<insert id="memInsert" parameterType="MemDTO">
		insert into user values(#{id}, #{password},#{mname},#{addr},#{tel},#{allergy},#{question},#{answer}, #{calorie_goal})
	</insert>
	<update id="memUpdate" parameterType="MemDTO">
		update user set
		password =
		#{password}, mname = #{mname} ,addr = #{addr},tel=#{tel}, allergy = #{allergy}, calorie_goal=#{calorie_goal} where id =
		#{id}
	</update>

	<select id="memInfo" parameterType="string" resultType="MemDTO">
		select *
		from user where id = #{id }
	</select>

	<select id="memList" resultType="MemDTO">
		select * from user
	</select>

	<select id="memFind" parameterType="MemDTO" resultType="MemDTO">
		select * from user where id=#{id } and question=#{question} and
		answer=#{answer}
	</select>


</mapper>